.card{
    background-color: #111a38;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}
.card:hover{
    background-color: #242e47;
}
.details{
   
    width: 74%;
    margin-left: 2%;
}
.details> div{
    display: flex;
}
.details> div>button{
 
 padding: 3px;
 background-color: transparent;
 color: gray;
 border: 1px solid gray;
 border-radius: 5px;
 cursor: pointer;
}
.details> div> button:hover{
    background-color: #111a38;
  color: white;
}
.details>p{
    color: gray;
    margin-bottom: 5px;
}
.img{
    width: 24%;
}
.img > img {
   
    height: 100%;
}