.search{
    height: 500px;
    background-color: #141A28;
    width: 400px;
    position: absolute;
    right: 260px;
    top: 70px;
    box-shadow: 2px 2px 5px 2px black;
     overflow-y: hidden;   
}