.card{
    display: flex;
   cursor: pointer;
    height: 60vh;
    margin: auto;
    justify-content: space-between;
   border-radius: 10px;
}
.img{
    width: 25%;
    overflow: hidden;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.img>img{
    width: 100%;
    /* position: relative;
    bottom: 200px; */

}
.details{
    
    width: 75%;
    
    height: 60vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
    /* background-color: #030b1764; */
    background-image: linear-gradient(to right, #030b17 0%, #030b179c 80%);
    
}

.title,.btn{
 
    margin: 60px 50px;
}
.title > p{
    color: #BBBDC1;
}

.maindiv{
    width: 95%;
    margin: auto;

}
.btn> button:hover{
 background-color: gray;
 color: #030b17;
}