.home_div{

}
.home_div > div> h3{
    margin:0px 57px;
    position: relative;
  top: 10px;   
}
.home_div .card{
    margin: 20px 0px;
    overflow: visible; 
    height: 240px;
} 
.divider{
  height: 500px;
  position: absolute;
}