.tab{
    width: 110px;
    
    background-color: #192133;
   
    position: absolute;
    right: 100px;
    top: 60px;
    border-radius: 5px;
}
.tab > div{
   
padding: 10px ;
}
.tab > div:hover{
    background-color: #0d121b;
}
#close{
    padding: 3px;
    width: 30px;
    margin-left: 75px;
}