.login{

}
.bg_img{
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.login_btn{
    position: absolute;
    width: 100%;
    margin: auto;
  
  
}
.login_btn> img{
   width: 80%;
   margin-left: 10%;

}
.login_btn> button{
    padding: 8px 15px;
    background-color: red;
    border: 0px;
    color: white;
    font-size: 15px;
    box-shadow: 2px 2px 5px 2px black;
    margin-left: 45%;
    margin-top: 10px;
    border-radius: 5px;
}
.login_btn> button:hover{
 border: 1px solid red;
 background-color: white;
 color: red;
}
.list{
    position: absolute;
}